/* 
taransform으로 요소의 모양(크기,위치) 을조작
마치 ppt 애니메이션 효과같은 것을 부여할수 있음
->transition
*/

.card{
width: 140px;
height: 140px;
margin: 120px auto;
background-color: orange;
/* transition */
/* 
transform 속성이 변하면
0.5s 시간동안 
바로변화 시키지말고 효과를 줘서 변화시키세요
 */
/* ease : 에를들어 사각형이 회전할경우에 그 과정을 애니메이션으로 표현해준다 */

/* ease: 느리다가 중간에 빨리지다가 마지막에 느려짐
ease-in : 느리다가 빨라짐
ease-out: 빠르다가 느려짐
ease-in-out : 처음과 끝은 느리고 중간이 빠르다
*/
transition: all 0.5s ease;
}

.card:hover{
    /* transform에 여러가지 정의가능 */
    transform: scale(1.3) rotate(360deg);
    background-color: blue;
    /* 불투명도 
    최소 투명(0) -> 최대 불투명(1)
    */
    opacity: 0;
}