#container{
  width: 600px;
  height: 500px;
  border: 1px solid gray;
  margin:10px auto;
  padding: 20px;
}
/* 절대값으로 컨테이너 같은 부모에 지정하고 
내부에 있는 박스들은 크기지정을 하지 않는게 좋다(반응형) 그래야 화면크기에 따라 크기 조절가능
*/
h1{
  text-align: center;
  color: white;
  background-color: #595959;
  padding: 20px;
}
h2{
text-align: center;
  color: black;
  margin-bottom: 50px;
}
h3{
  text-align: left;
  color: red;
}
li{
  text-align: left;
  padding-left: 0;
  list-style: none;
}