main h1 {
  text-align: center;
}
.board {
  /* board의 부모 크기 전체 물려받음 */
  width: 100%;
  border-bottom: 1px solid black;
  padding: 8px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 16px;
}

.board th,
.board td {
  border: none;
  /* 테이블에서 위아래 폭은 width, height지정  x 
   보통 위아래 padding 으로 조절
  */
  /* 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f  오른쪽으로 갈수록 진해진다*/
  border-bottom: 1px solid #eee;
  padding: 10px 8px;
  text-align: center;
}

.board > thead > th {
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}
.board th:nth-child(1),
.board td:nth-child(1) {
  width: 70px;
}
.board th:nth-child(2) {
  width: 200px;
}
.board td:nth-child(2) {
  width: 200px;
  text-align: left;
  padding-left: 15px;
}
.board th:nth-child(3),
.board td:nth-child(3) {
  width: 120px;
}
.board th:nth-child(4),
.board td:nth-child(4) {
  width: 140px;
}
.board th:nth-child(5),
.board td:nth-child(5) {
  width: 90px;
}

.board tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.board tbody tr:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.title {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid silver;
}
