* {
  margin: 0;
  padding: 0;
}
body {
}
.wrapper {
  /* signbox, signupbox 세로정렬*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  gap: 10px;
}
.signin-box {
  width: 350px;
  border: 1px solid #ddd;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.logo-area img {
  /* 
    이미지 크기지정
    width or height중 하나만 사용한다 안그러면 비율이 안맞다
    하나만쓰면 비율에 맞춰서 축소/확대
     */
  width: 100%;
}
.form-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-area input {
  height: 35px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid#ddd;
  border-radius: 3px;
  outline: none;
}
.form-area input:focus {
  border: 1px solid #444;
}
.form-area button {
  height: 35px;
  background-color: rgb(122, 210, 245);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.divider {
  width: 100%;
}
/* divider, or-box -> 가상선택자(::after, ::before) */
.signup-box {
  width: 350px;
}
